.info-card{
    padding: 0 5px;
}
.info-success{
    background-color: #1cc7c1;
}
.info-dark{
    background-color: #3A4256;
}
.info-container{
    height:7em;
    padding:1em;
    margin-top: 10px;
}
.infoIcon{
    font-size: 3em;
}

